<div class="sm:w-full lg:w-full">
  <div id="shop-id-<%= shop.id %>" class="p-3">
    <div class="bg-white rounded shadow">
      <ul class="w-full bg-white p-6 rounded-lg shadow-lg">
        <li class="flex items-center justify-between">
          <span class="font-bold text-lg hover:text-yellow-500"><%= link_to "#{shop.name}", shop_path(shop) %></span>
          <% if user_signed_in? %>
            <%= render 'bookmark_buttons', { shop: shop } %>
          <% else %>
            <li onclick="document.getElementById('login_modal').showModal(); document.getElementById('login-button').focus();" style="cursor: pointer;">
              <i class="fa-regular fa-bookmark"></i>
            </li>
          <% end %>
        </li>
        <li class="mt-2 text-sm text-gray-500"><%= shop.address %></li>
      </ul>
    </div>
  </div>
</div>

<%# ログインすると使える機能案内ダイアログ %>
<dialog id="login_modal" class="modal">
    <div class="modal-box">
        <h3 class="text-lg font-bold">
            ログインして続ける
        </h3>
        <p class="py-4">
            <ul>
              <li>ログインすると使える機能</li>
              <li>・レビュー投稿機能</li>
              <li>・お店ブックマーク機能</li>
              <li>・レビューいいね機能</li>
            </ul>
        </p>
        <div class="modal-action">
            <%# 戻るボタン %>
            <%= form_with url: '#', method: :dialog do %>
                <%= button_tag '✕', class: 'btn btn-sm btn-circle btn-ghost absolute right-2 top-2' %>
            <% end %>
            <%# ログインボタン %>
            <%= link_to 'ログイン', new_user_session_path, class: "btn btn-primary hover:bg-custom-hover-brown text-white rounded-md" %>
        </div>
    </div>
</dialog>
