<div class="m-6 text-center">
  <h2><%= t('devise.passwords.edit.change_my_password')%></h2></h2>
</div>

<div class='flex flex-wrap justify-center mb-6'>
  <div class="w-full md:w-1/4 p-4 border border-gray-300 rounded-md">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %><%= t('devise.registrations.new.characters_minimum') %>)</em><br />
      <% end %>
      <%= f.password_field :password, class: "w-full rounded-md border border-gray-300 py-2 px-3 mb-3 placeholder:text-gray-300 focus:border-gray-500 focus:outline-none focus:ring focus:ring-gray-200" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, class: "w-full rounded-md border border-gray-300 py-2 px-3 mb-3 placeholder:text-gray-300 focus:border-gray-500 focus:outline-none focus:ring focus:ring-gray-200" %>
    </div>

    <div class="actions">
      <%= f.submit t('devise.passwords.edit.change_your_password') , class: "inline-flex w-full items-center justify-center rounded-md bg-custom-brown p-3 text-white duration-100 ease-in-out hover:bg-blue-600 focus:outline-none cursor-pointer" %>
    </div>
  <% end %>

  </div>
</div>
