

<div class="m-6 text-center">
  <h2><%= t('devise.passwords.new.reset_password')%></h2>
</div>

<div class='flex flex-wrap justify-center mb-6'>
  <div class="w-full md:w-1/4 p-4 border border-gray-300 rounded-md">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "w-full rounded-md border border-gray-300 py-2 px-3 mb-3 placeholder:text-gray-300 focus:border-gray-500 focus:outline-none focus:ring focus:ring-gray-200" %>
      </div>

      <div class="actions">
        <%= f.submit t('devise.passwords.new.send_me_reset_password_instructions') , class: "inline-flex w-full items-center justify-center rounded-md bg-custom-brown hover:bg-custom-hover-brown p-3 text-white duration-100 ease-in-out hover:bg-blue-600 focus:outline-none cursor-pointer"%>
      </div>
    <% end %>
  </div>
</div>
