<%= form_with model: [@shop, @post], class: "new_post" do |f| %>

  <!-- タイトル -->
  <div class="mb-3">
    <%= f.label :タイトル, class: "block font-bold mb-2" %>
    <%= f.text_field :title, class: "focus:border-gray-500 focus:outline-none focus:ring focus:ring-gray-200 form-input w-full border pl-2 pr-2 p-2" %>
  </div>

  <!-- 評価 TODO: 評価は星でも入力できるようにする -->
  <div class="mb-3">
    <%= f.label :評価（必須）, class: "block font-bold mb-2" %>
    <%= f.select :rating, [["星1", 1], ["星2", 2], ["星3", 3], ["星4", 4], ["星5", 5]], { include_blank: "選択して下さい" }, { class: "border bg-gray-200 p-3" } %>
  </div>

  <!-- お店の雰囲気 -->
  <div class="mb-3">
    <%= f.label :お店の雰囲気, class: "block font-bold mb-2" %>
    <%= f.select :quietness_level, [["星1", 1], ["星2", 2], ["星3", 3], ["星4", 4], ["星5", 5]], { include_blank: "選択して下さい（数字が小さい方が賑やか、大きい方が静か）" }, { class: "border bg-gray-200 p-3" } %>
  </div>

  <!-- 座席 -->
  <div class="mb-3">
    <%= f.label :座席の快適さ（勉強しやすい机・椅子であったか）, class: "block font-bold mb-2" %>
    <%= f.select :seat_comfort_level, [["星1", 1], ["星2", 2], ["星3", 3], ["星4", 4], ["星5", 5]], {include_blank: "選択して下さい（数字が大きい方が快適）" }, { class: "border bg-gray-200 p-3" } %>
  </div>

  <!-- Wi-Fi -->
  <div class="mb-3">
    <%= f.label :"Wi-Fiの快適さ", class: "block font-bold mb-2" %>
    <%= f.select :wifi_comfort_level, [["星1", 1], ["星2", 2], ["星3", 3], ["星4", 4], ["星5", 5]], {include_blank: "選択して下さい（数字が大きい方が快適）" }, { class: "border bg-gray-200 p-3" } %>
  </div>

  <!-- 電源 -->
  <div class="mb-3">
  <%= f.label :"電源は使えたか", class: "block font-bold mb-2" %>
    <%= f.select :power_availability, Post.power_availabilities.keys.map { |k| [Post.human_attribute_name("power_availability.#{k}"), k] }, { include_blank: "選択して下さい" }, { class: "border bg-gray-200 p-3" } %>
  </div>

  <!-- 本文 -->
  <div class="mb-3">
    <%= f.label :本文, class: "block font-bold mb-2" %>
    <%= f.text_area :body, class: "focus:border-gray-500 focus:outline-none focus:ring focus:ring-gray-200 form-input w-full border p-3", rows: "10" %>
  </div>

  <!-- 画像 -->
  <div class="mb-3">
    <%= f.label :画像アップロード, class: "block font-bold mb-2" %>
    <%= f.file_field :post_images, multiple: true, class: "form-control js-file-select-preview", accept: 'image/*' %>
    <%= f.hidden_field :post_images_cache %>

    <!-- 削除された画像インデックスを保持する隠しフィールド -->
    <%= f.hidden_field :remove_image_at, id: 'remove_image_input', value: "" %>

    <% if @post.post_images.present? %>
      <div id="preview-container" class="mt-3" style="display: flex; flex-wrap: wrap; gap: 10px;">

        <% @post.post_images.each_with_index do |image, index| %>

          <div id="image-<%= index %>">
            <!-- TODO:モーダルで画像表示に変更 -->
            <%= link_to image.url, target: "_blank", rel: "noopener" do %>
              <%= image_tag image.thumb.url, class: "object-cover rounded-t cursor-pointer" %>
            <% end %>
            <button type="button" class="remove-image-btn" data-index="<%= index %>" data-review-id="<%= @post.id %>">
              <i class="fa-solid fa-trash"></i>
            </button>
          </div>
        <% end %>

      </div>
    <% else %>
      <div id="preview-container" class="mt-3" style="display: flex; flex-wrap: wrap; gap: 10px;">jpg,jpeg,gif,png形式の画像が選択できます</div>
    <% end %>
  </div>

  <%= f.submit nil, class: "btn btn-primary hover:bg-custom-hover-brown text-white font-bold py-2 px-4 rounded mb-4" %>
<% end %>

<script>
    // 画像削除ボタン
    document.addEventListener('click', function (event) {
      const target = event.target.closest('.remove-image-btn');

      if (target) {

        event.preventDefault(); // デフォルトの動作を無効化
        event.stopPropagation(); // イベントのバブリングを停止

        const index = target.dataset.index;
        const removeImageInput = document.getElementById('remove_image_input');


        // 既に削除対象が選択されている場合は何もせずに終了
        if (removeImageInput.value.includes(index)) {
          return; // すでに削除された画像なら処理を終了
        }

        if (!removeImageInput) {
          console.error('remove_image_input が見つかりません');
          return;
        }

        // 確認のダイアログを表示
        const confirmed = confirm('この画像を削除してもよろしいですか？');
        if (!confirmed) {
          return;
        }

        // 削除する画像のインデックスをインプットに追加
        const currentValue = removeImageInput.value;
        removeImageInput.value = currentValue ? `${currentValue},${index}` : index;

        // 画像をフォームから削除（画面上からは見えなくする）
        const imageElement = document.getElementById(`image-${index}`);
        if (imageElement) {
          imageElement.style.display = 'none';
        }
      }
    });

</script>
