<div class="sm:w-full lg:w-full mb-3">
  <div id="post-id-<%= post.id %>" class="p-3">
    <div class="bg-white rounded shadow">
      <%= image_tag "post_placeholder.png", class: "w-full object-cover rounded-t", width: "300", heigh:"200" %>
      <div class="p-6">
        <div class="flex items-center">
          <h4 class="text-lg font-semibold flex-grow">
            <%= link_to post.title, '#' %>
          </h4>
        </div>
        <div class="flex items-center">
          <h4 class="text-lg font-semibold flex-grow">
            <%= link_to "店名: #{post.shop.name}", '#' %>
          </h4>
        </div>
        <ul class="list-none mt-4 space-y-2">
          <li class="flex items-center space-x-2"><i class="bi bi-person"></i><%= "by #{post.user.name}" %></li>
          <li class="flex items-center space-x-2"><i class="bi bi-calendar"></i><%= l post.created_at.to_date, format: :long %></li>

          <li class="flex items-center space-x-2"><%= "お店の雰囲気：星 #{post.quietness_level}" %></li>
          <li class="flex items-center space-x-2"><%= "座席の快適さ：星 #{post.seat_comfort_level}" %></li>
          <li class="flex items-center space-x-2"><%= "Wi-fiの快適さ：星 #{post.wifi_comfort_level}" %></li>
          <li class="flex items-center space-x-2"><%= "電源は使えたか： #{post.power_availability}" %></li>
        </ul>
        <p class="mt-4 text-gray-700"><%= post.body %></p>
      </div>
    </div>
  </div>
</div>
