<div class="sm:w-full lg:w-full mb-3">
  <div id="post-id-<%= post.id %>" class="p-3">
    <div class="bg-white rounded shadow">
      <%= link_to post_path(post) do %>
        <% if post.post_images.present? %>
          <%= image_tag(post.post_images.first.url, class: "object-cover rounded-t") %>
        <% end %>
      <% end %>
      <div class="p-6">
        <div class="flex items-center">
          <ul class="list-none">
            <li class="flex items-center space-x-2"><h4 class="text-lg font-semibold flex-grow"><%= link_to post.title, post_path(post) %></h4></li>
            <li class="flex items-center space-x-2"><i class="bi bi-person"></i><%= "by #{post.user.name}" %></li>
            <li class="flex items-center space-x-2 mb-2"><i class="bi bi-calendar"></i><%= l post.created_at.to_date, format: :long %></li>
          </ul>
        </div>
        <div class="flex items-center">
          <ul class="list-none mt-2">
            <li class="flex items-center space-x-2"><%= link_to "店名 : #{post.shop.name}", '#' %></li>
            <li class="flex items-center space-x-2"><%= post.shop.address %></li>
          </ul>
        </div>
        <ul class="list-none mt-2 space-y-2">
          <%= link_to post_path(post) do %>
            <li class="flex items-center space-x-2"><%= "評価 : 星 #{post.rating}" %></li>
            <li class="flex items-center space-x-2"><%= "お店の雰囲気 : 星 #{post.quietness_level}" %></li>
            <li class="flex items-center space-x-2"><%= "座席の快適さ : 星 #{post.seat_comfort_level}" %></li>
            <li class="flex items-center space-x-2"><%= "Wi-fiの快適さ : 星 #{post.wifi_comfort_level}" %></li>
            <li class="flex items-center space-x-2"><%= "電源は使えたか : #{post.power_availability}" %></li>
            <li class="flex items-center space-x-2 mt-2"><%= simple_format(post.body) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
