<div class="container mx-auto p-3">
  <div class="flex flex-wrap">
    <div class="w-full lg:w-1/2 lg:mx-auto">

      <div class="flex items-center justify-between">
        <span class="flex-1 text-2xl font-bold my-5 hover:text-yellow-500 ">
          <%= link_to "#{@post.shop.name}", shop_path(@post.shop) %>
        </span>
      </div>
      <div class="border-t mb-5"></div>

      <article class="card border">
        <div class="card-body">
          <div class="flex flex-wrap wrap-vertical-alignment">
            <div class="w-full">
              <ul class="list-none mb-4 space-y-2">
                <li class="flex items-center">
                  <ul class="flex space-x-2">
                    <li><%= "#{@post.user.name}" %></li>
                    <li><%= l @post.created_at.to_date, format: :long %></li>
                  </ul>
                </li>
                <div class="border-t"></div>
                <li class="flex items-center "><strong><%= @post.title %></strong></li>
                <li class="flex items-center"><%= simple_format(@post.body) %></li>
                <li class="flex items-center"><%= "評価 : #{@post.rating}" %>
                  <%= render 'shared/rating', rating: @post.rating %>
                </li>
                <li class="flex items-center"><%= "お店の雰囲気 : #{@post.quietness_level}" %>
                  <%= render 'shared/rating', rating: @post.quietness_level %>
                </li>
                <li class="flex items-center"><%= "座席の快適さ : #{@post.seat_comfort_level}" %>
                  <%= render 'shared/rating', rating: @post.seat_comfort_level %>
                </li>
                <li class="flex items-center"><%= "Wi-fiの快適さ : #{@post.wifi_comfort_level}" %>
                  <%= render 'shared/rating', rating: @post.wifi_comfort_level %>
                </li>
                <li class="flex items-center"><%= "電源は使えたか : #{@post.power_availability}" %></li>
              </ul>
            </div>

            <div class="flex justify-end w-full m-2 items-center">
              <div class="w-full flex flex-wrap gap-2">
                <% @post.post_images.each do |image| %>
                  <!-- TODO:モーダルで画像表示に変更 -->
                  <%= link_to image.url, target: "_blank", rel: "noopener" do %>
                    <%= image_tag image.thumb.url, class: "object-cover rounded-t cursor-pointer" %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>


          <div class="flex justify-end">
            <% prepare_meta_tags @post %>
              <%
                twitter_share_text = "【Learn&Latte〜勉強しやすいカフェ、すぐ探せる！〜】\n\n「#{@post.shop.name}」のレビューをシェア！\n\n#LearnAndLatte ##{@post.shop.name}"
                twitter_share_url = "https://twitter.com/share?" + URI.encode_www_form(
                  url: post_url(@post),
                  text: twitter_share_text
                )
              %>
              <%= link_to twitter_share_url, target: '_blank', data: { toggle: "tooltip", placement: "bottom" }, title: "Xでシェア" do %>
                <i class="fa-brands fa-square-x-twitter fa-xl hover:text-yellow-500 mr-3">
                  <span class="text-sm text-gray-500 hover:text-yellow-500">シェア</span>
                </i>
            <% end %>
            <% if user_signed_in? %>
              <div><%= render 'like_buttons', { post: @post } %></div>
            <% else %>
              <%# ログインすると使える機能案内ダイアログ %>
              <div onclick="document.getElementById('login_modal').showModal(); document.getElementById('login-button').focus();" style="cursor: pointer;">
                <i class="fa-regular fa-heart hover:text-yellow-500">
                  <span class="text-sm text-gray-500 hover:text-yellow-500">いいね</span>
                </i>
              </div>
            <% end %>
          </div>

          <div class="flex justify-end">
            <ul class="flex justify-start items-center w-full">
              <% if user_signed_in? && current_user.own?(@post) %>
                <div class='ms-auto mt-3'>
                  <%= link_to edit_post_path(@post), id: "button-edit-#{@post.id}" do %>
                    <i class="fa-solid fa-pen-to-square hover:text-yellow-500 mr-3">
                      <span class="text-sm text-gray-500 hover:text-yellow-500">編集</span>
                    </i>
                  <% end %>
                  <%= link_to post_path(@post), id: "button-delete-#{@post.id}", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } do %>
                    <i class="fa-solid fa-trash hover:text-yellow-500">
                      <span class="text-sm text-gray-500">削除</span>
                    </i>
                  <% end %>
                </div>
              <% end %>
            </ul>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>

<%# ログインすると使える機能案内ダイアログ %>
<dialog id="login_modal" class="modal">
    <div class="modal-box">
        <h3 class="text-lg font-bold">
            ログインして続ける
        </h3>
        <p class="py-4">
            <ul>
              <li>ログインすると使える機能</li>
              <li>・レビュー投稿機能</li>
              <li>・お店ブックマーク機能</li>
              <li>・レビューいいね機能</li>
            </ul>
        </p>
        <div class="modal-action">
            <%# 戻るボタン %>
            <%= form_with url: '#', method: :dialog do %>
                <%= button_tag '✕', class: 'btn btn-sm btn-circle btn-ghost absolute right-2 top-2' %>
            <% end %>
            <%# ログインボタン %>
            <%= link_to 'ログイン', new_user_session_path, class: "btn btn-primary hover:bg-custom-hover-brown text-white rounded-md" %>
        </div>
    </div>
</dialog>
